<div class="message">
	<table>
		<tr>
			<td rowspan="2"><%= attachment_image_tag message.user, :icon, fallback: "no_image.png", size: "40x40" %></td>
			<td><%= "#{message.user.name}" %></td>
		</tr>
		<tr>
			<td><%= "#{message.chat}" %></td>
		</tr>
	</table>
</div>