/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "slick";

 *{
 	margin:0;
 	padding:0;
 	box-sizing: border-box;
 }

 .log_in{
 	width:20%;
 	margin:0 auto;
 	margin-top: 120px;
 	padding:20px;
 	text-align: center;
 	background-color: #eee;
 	border-color: #000;
 }

 .sign_up{
 	width:30%;
 	margin:0 auto;
 	margin-top: 120px;
 	padding:20px;
 	text-align: center;
 	background-color: #eee;
 	border-color: #000;
 }

.google-log{
	margin-top:5px;
	margin-bottom: 5px;
	text-decoration: none;
}
.google-log:hover{
	text-decoration: none;
}

 .entry-btn{
	color:#000;
	text-decoration: none;
}
.entry-btn:hover{
	text-decoration: none;
}

.entry-button{
	text-decoration: none;
}
.entry-button:hover{
	text-decoration: none;
}

.tbody{
	width:55%;
	margin:0 auto;
	margin-bottom: 20px;
	background-color: #fff;
	padding:10px;
}
.tbody-i{
	width:70%;
	margin:0 auto;
	margin-bottom: 20px;
	background-color: #fff;
	padding:10px;
}

.rbody{
	width:50%;
	margin:0 auto;
	background-color: #fff;
	padding:10px;
}
.s-result{
  border:1px solid #aaa;
  border-radius: 3px;
  text-decoration: none;
  color:#000;
  padding-left: 5px;
}

.s-result:hover{
	text-decoration: none;
}
.room-list{
	float:left;
	margin-top: 5px;
}
.c-form{
	border-radius: 3px;
}

header{
	position: relative;
	background-color: #fff;
	border-bottom:3px solid #b5ff2a;
	width:100%;
	height:65px;
	position:fixed;
	z-index: 100;
}
.h-icon{
	position:absolute;
	top:3px;
	right:50px;
}
.h-menu{
	position:absolute;
	top:10px;
	right:50px;
	font-size: 20px;
	color:#fff;
}
.rlist-contents{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	padding-bottom:5px;
	border-bottom:2px solid #ccc;
}
.room-link{
	text-decoration: none;
	color:#000;
}
.room-link:hover{
	text-decoration: none;
}

.box{
	width:100%;
	height:75px;
}

#map{
	height:400px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:80%;
}

.side-box{
	width:15%;
	position: fixed;
	right:90px;
	top:100px;
	background-color: #fff;
}

.show-body{
	position:relative;
}
.entry_box{
	text-align: center;
	font-size:20px;
}
.chat-btn{
	margin:0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
.good_box{
	font-size:20px;
	text-align:center;
	margin-top:20px;
}

.room_box{
	text-align: center;
}

.show-h{
	text-align: center;
}
.show-n{
	font-size: 50px;
}
.show-g{
	font-size: 40px;
}

.show-form{
	border:2px solid #ccc;
	border-radius: 4px;
	display:inline-block;
	min-width: 15%;
	font-size:25px;
	padding:3px;
}
.tshow-contents{
	font-size:20px;
}
.shousai{
	width:80%;
	min-height:150px;
	word-wrap: break-word;
}

.date{
	width:25%;
}

.n-name{
	width:50%;
}
.maxi{
	width:20%;
}
.button-t{
	margin-top:10px;
}

#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
  }

#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 9999;
  }

  .logo{
  	width:20%;
  	text-align: center;
  	margin:0 auto;
  }

  .bxslider{
  	text-decoration: none;
  	text-align: center;
  	color:#000;
  }

  .btn{
  	transition-duration: 0.2s;
  	border-width: 2px;
  }
  .btn-top{
  	background:#b5ff2a;
  	border-color: #b5ff2a;
  	color:#fff;
  	transition-duration: 0.2s;
  }

  .btn-top:hover{
  	background:#fff;
  	border-color: #b5ff2a;
  	color:#b5ff2a;
  }

  .btn-success{
  	background:#29cb44;
  	border-color:#29cb44;
  }

  .btn-success:hover{
  	background:#fff;
  	border-color:#29cb44;
  	color:#29cb44;
  }
  .btn-success:active{
  	background:#29cb44;
  	border-color:#29cb44;
  }

  .btn-warning{
  	border-color: #f0ad4e;
  }
  .btn-warning:hover{
  	background:#fff;
  	border-color:#f0ad4e;
  	color:#f0ad4e;
  }
  .btn-warning:active{
  	border-color:#f0ad4e;
  }

  .btn-danger{
  	border-color:#d9534f;
  }
  .btn-danger:hover{
  	background:#fff;
  	border-color:#d9534f;
  	color:#d9534f;
  }
  .btn-danger:active{
  	border-color:#d9534f;
  }

  .btn-info{
  	border-color:#5bc0de;
  }
  .btn-info:hover{
  	background:#fff;
  	border-color:#5bc0de;
  	color:#5bc0de;
  }
  .btn-info:active{
  	border-color:#5bc0de;
  }

  .btn-default:hover{
  	background:#ccc;
  	border-color:#fff;
  	color:#fff;
  }

  .g-image:hover{
  	text-decoration: none;
  }

  body{
  	background-color:#fbfaf5;
  	cursor: url(sword.cur), default;
  }


  .image-size{
  	height:400px;
  	max-width: 600px;
  	display:inline-block;
  }
  .show-image{
	width:600px;
	margin:0 auto;
	text-align: center;
}

.image-size-i{
  	height:400px;
  	max-width: 500px;
  }

  .job-size{
  	height:50px;
  	display: inline-block;
  	animation-name: job-walk;
  	animation-duration: 1s;
  	animation-timing-function: steps(1);
  	animation-iteration-count: infinite;
  	opacity: 0;
  }
  .job-box{
  	text-align: center;
  	display:inline-block;
  	position: relative;
  }
  .job2{
  	position: absolute;
  	top:0;
  	left:35px;
  	animation-delay: 0.5s;
  }
  @keyframes job-walk{
  	0%{
  		opacity: 0;
  	}
  	50%{
  		opacity:1;
  	}
  }
  .name-line{
  	line-height: 15px;
  }

  .star {
			position: absolute;
      background: url(efect2.png) no-repeat;
      background-size: contain;
      overflow: hidden;
			&.star-1 {
				width: 50px;
				height: 34px;
				top:5px;
				right:35px;
			}
			&.star-2 {
				width: 35px;
				height: 35px;
				top:30px;
				right:30px;

			}
			&.star-3 {
				width: 35px;
				height: 35px;
				top:40px;
				left:30px;
			}
			&.star-4 {
				width: 40px;
				height: 40px;
				top:3px;
				left:40px;
			}
}

.sub-btn{
	margin-top:5px;
}

.sign-body{
	visibility: hidden;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:999;
	background:#000;
}
.sign-body.active{
	visibility: visible;
	opacity: 0.5;
}
.sign-contents{
	position:fixed;
	top:200px;
	left:600px;
	width:300px;
	height: 220px;
	background-color: #fff;
	opacity: 1;
	visibility:hidden;
	z-index: 1000;
	border-radius: 4px;
}
.sign-btn{
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width:80%;
}

.cancel{
	color:#5bc0de;
	margin-bottom: 30px;
}
.cancel-line{
	text-align: center;
}
.sign-topic{
	border-bottom: 2px solid #ccc;
	margin-left: 10px;
	margin-right: 10px;
}
