/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 *{
 	margin:0;
 	padding:0;
 	box-sizing: border-box;
 }

 .log_in{
 	width:20%;
 	margin:0 auto;
 	margin-top: 200px;
 	padding:20px;
 	text-align: center;
 	background-color: #ccc;
 	border-color: #000;
 }

 .sign_up{
 	width:30%;
 	margin:0 auto;
 	margin-top: 200px;
 	padding:20px;
 	text-align: center;
 	background-color: #ccc;
 	border-color: #000;
 }

 .entry-btn{
	color:#000;
	text-decoration: none;
}
.entry-btn:hover{
	text-decoration: none;
}

.entry-button{
	text-decoration: none;
}
.entry-button:hover{
	text-decoration: none;
}

.tbody{
	width:50%;
	margin:0 auto;
}

.s-result{
  border:1px solid #aaa;
  border-radius: 3px;
  text-decoration: none;
}

.s-result:hover{
	text-decoration: none;
}