// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.entry_box{
	border:solid 2px #ccc;
	margin:10px;
	padding:5px;
}

dl.searchbox{
  width: 350px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
  margin-top: 20px;
}
dl.searchbox dt{
  padding:3px;
}
dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1.5px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#b5ff2a;
  width:100%;
  height:34px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:#abf126;
}

.s-list{
  line-height: 2.5;
}

.slick-box{
  width:80%;
  margin:0 auto;
}
